{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock title %}</title>
	
    <!-- css -->
    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <link type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/cubeportfolio/css/cubeportfolio.min.css' %}">
	<link type="text/css" href="{% static 'css/nivo-lightbox.css' %}" rel="stylesheet" />
	<link type="text/css" href="{% static 'css/nivo-lightbox-theme/default/default.css' %}" rel="stylesheet"/>
	<link type="text/css" href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" media="screen" />
    <link type="text/css" href="{% static 'css/owl.theme.css' %}" rel="stylesheet" media="screen"/>
	<link type="text/css" href="{% static 'css/animate.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
    <style type="text/css">
        .dropdown:hover>.dropdown-menu {
            display: block;
        }

    </style>

	<!-- boxed bg -->
	<link type="text/css" id="bodybg" href="{% static 'bodybg/bg1.css' %}" rel="stylesheet"  />
	<!-- template skin -->
	<link type="text/css" id="t-colors" href="{% static 'color/default.css' %}" rel="stylesheet" >

    {% block other_css %}{% endblock other_css %}

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<div id="wrapper">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		
        <div class="container navigation">
		
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">
					<h1><b>Synopsia</b></h1>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
        
				<li><a href="#contact">Contact Us</a></li>
				<li><a href="{% url 'booking' %}">Online Booking</li>
                    {% if user.is_authenticated %}
                    <li style="margin-top:-30px"><a href="{% url 'staffPanel' %}">Staff Panel</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          User
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding: 10px;">
                          <a class="dropdown-item" href="{% url 'userPanel' %}">User Panel</a><br>
                          <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
                        </div>
                    </li>
                    {% else %}
                    <li style="margin-top:-30px"><a href="{% url 'register' %}">Sign in/Sign Up</a></li>
                    {% endif %}


				{% comment %} <li><a href="/medicines">Medstoer</a></li> {% endcomment %}
				{% comment %} {% else %} {% endcomment %}
				{% comment %} <li><a href="/login">Login</a></li> {% endcomment %}
				{% comment %} <li><a href="/sign-up">Sign-Up</a></li> {% endcomment %}
				
			  </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
        

        <!--Messages Start-->
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success  alert-dismissible fade show text-center " role="alert">
                <h3 class="display-3">{{ message }}</h3>
                <button type="button" class="btn-close fs-1 position-absolute top-50 start-0 translate-middle-y" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        <!--Messages End-->



    {% block body %}
    {% endblock %}
    <footer class="bg-dark text-white">
        <div class="container-fluid pt-3">
            <section class="">
                <div class="container text-center text-md-start mt-5">
                  <!-- Grid row -->
                  <div class="row mt-3 text-center">
            
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h5 class="text-uppercase fw-bold mb-4 textGradient" id="contact">
                            Contact Us
                        </h5>
                        <p>
                            <a href="tel: 12345678" class=""><span class="cBlue">Tel: 12345678</span></a>
                        </p>
                        <p>
                            <a class="uLine cHover" href="{% url 'booking' %}" >Online Booking</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    
                    <!-- Service links Regular -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h5 class="text-uppercase fw-bold mb-4 textGradient">
                            Services
                        </h5>
                        <p>
                            <a href="#!" class="uLine">Doctor care</a>
                        </p>
                        <p>
                            <a href="#!" class="uLine">Nursing care</a>
                        </p>
                        <p>
                            <a href="#!" class="uLine">Medical social services</a>
                        </p>
                        <p>
                            <a href="#!" class="uLine">Homemaker or basic assistance care</a>
                        </p>
                    </div>
                    <!-- Service links Regular -->
                  </div>
                  <!-- Grid row -->
                </div>
              </section>
        </div>
    </footer>
  </body>
</html>